<mat-card>
    <mat-card-content>
        <div class="header">
            <h2>Sign Up</h2>
        </div>
        <form (ngSubmit)="onLogin()" name = "loginForm" [formGroup]="loginForm">
            <div class="email-input">
                <mat-form-field class="full-width" appearance ="outline">
                    <mat-label>Email</mat-label>
                    <input autocomplete="false" formControlName="email" placeholder="Ex.xxx@example.com" matInput required/>
                    <mat-error *ngIf="loginForm.get('email').errors?.required">
                        Required email address
                    </mat-error>
                    <mat-error *ngIf="loginForm.get('email').errors?.email">
                        Invalid Email Address
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input autocomplete="false" formControlName="password" placeholder="Ex.12345678" matInput required/>
                    <mat-error *ngIf="loginForm.get('password').errors?.required">
                        Required password
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input formControlName="confirmPassword" matInput required/>
                    <mat-error *ngIf="loginForm.get('confirmPassword').errors?.required">
                        This field is required!
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" routerLink="../signin-component" [disabled]="!loginForm.valid">Create your account</button>
        </form>
    </mat-card-content>
</mat-card>
