<!-- <h1 style="text-align:center; font-size: 50px; padding:10px; color:dodgerblue; font-family: 'Satisfy', cursive;">My Pantry</h1> -->

<mat-toolbar>
    Plan & Pantry
</mat-toolbar>

<div class="container-fluid" style="margin-top: 2%;">
    <mat-form-field class="example-full-width" style="width: 30%; margin-left: 70%">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name="search">
        <button matSuffix mat-button>
            <mat-icon>search</mat-icon>
        </button>
        <button matSuffix mat-button>
            <mat-icon>add</mat-icon>
        </button>
        <button matSuffix mat-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-form-field><br/>

    <div class="row">
        <div class="col-sm-2  position-fixed">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col offset-2" style="margin-top: 5%;">
            <div class="container">
                <div class="row">

                    <div class="col-sm">
                        <h2>Fruit</h2>
                        <ul>
                            <li>Apples</li>
                            <li>Bananas</li>
                            <li>Oranges</li>
                            <li>Box of Strawberries</li>
                            <li>Boxes of Blueberries</li>
                            <li>Plantains</li>
                        </ul>
                    </div>
                    <div class="col-sm v-divider">
                        <h2>Vegetables</h2>
                        <ul>
                            <li>Cucumbers</li>
                            <li>Bag of Baby Carrots</li>
                            <li>Stick of Celery</li>
                            <li>Heads of Lettuce</li>
                            <li>Bag of Spinach</li>
                            <li>Leeks</li>
                        </ul>
                    </div>
                    <div class="col-sm v-divider">
                        <h2>Dry Food</h2>
                        <ul>
                            <li>Boxes of Cereal</li>
                            <li>Bag of Almonds</li>
                            <li>Loaf of Bread</li>
                            <li>Cans of Black Beans</li>
                            <li>Onions</li>
                            <li>Bag of Idaho Potato's</li>
                        </ul>
                    </div>
                    <div class="col-sm v-divider">
                        <h2>Fridge</h2>
                        <ul>
                            <li>Tub of Greek Yogurt</li>
                            <li>Half-Gallon of Milk</li>
                            <li>Quart of Half and Half</li>
                            <li>Eggs</li>
                            <li>Block of Cheddar Cheese</li>
                        </ul>
                    </div>
                    <div class="col-sm v-divider">
                        <h2>Freezer</h2>
                        <ul>
                            <li>Frozen Pizza</li>
                            <li>Bag of Tatter Tots</li>
                            <li>Frozen Chicken Breast</li>
                            <li>7 Bags Totino's Pizza Rolls</li>
                        </ul>
                    </div>

                </div>
            </div>

            <hr />

            



        </div>
    </div>
</div>