<nav class="navbar navbar-light justify-content-end">
	<a class="brand navbar-brand" href="#">Plan & Pantry</a>
  <form class="form-inline">
    <button class="btn btn-info logreg" type="button" style="margin-right: 15px;">Login</button>
    <button class="btn btn-outline-info logreg" type="button" style="margin-right: 15px;">Register</button>
  </form>
</nav>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.chzbgr.com/full/8334925568/h1D2483F7/stock-photo-of-hide-the-pain-harold-answering-the-phone-with-a-pained-expression" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://pics.me.me/hide-the-pain-harold-know-your-meme-52055740.png" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://img.buzzfeed.com/buzzfeed-static/static/2017-08/2/17/campaign_images/buzzfeed-prod-fastlane-03/heres-how-some-of-the-weirdest-and-darkest-stock--2-14884-1501709221-0_dblbig.jpg?resize=1200:*" class="d-block" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-8 brdr">
    	<h2 class="text-center">Today's Trending Recipes</h2>

    	<div class="container">
				<div class="row pt-5 m-auto">

				  <div class="col-sm">
						<div class="card card-custom bg-white border-white border-0 rcp">
						  <div class="card-custom-img" style="background-image: url(https://images-gmi-pmc.edge-generalmills.com/8145fa01-3b5c-4c14-a0b5-c4b5dfd66bd6.jpg);"></div>
						  <div class="card-body" style="overflow-y: auto">
								<h3 class="card-title">Apple Pie</h3>
								<p class="card-text">Applie Pie Recipe lorem ipsum summary description recipe</p>
						  </div>
						  <div class="card-footer" style="background: inherit; border-color: inherit;">
								<a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
								<a href="#" class="btn btn-outline-danger">Add to List</a>
						  </div>
						</div>
					</div>

				  <div class="col-sm">
						<div class="card card-custom bg-white border-white border-0 rcp">
						  <div class="card-custom-img" style="background-image: url(https://static.wixstatic.com/media/65f1ef_aa4c79a018e940c5bbd35bd483c291ff~mv2_d_3600_2400_s_4_2.jpg/v1/fill/w_288,h_287,al_c,q_80,usm_0.66_1.00_0.01/_MG_0607.webp);"></div>
						  <div class="card-body" style="overflow-y: auto">
								<h3 class="card-title">Onion Rings</h3>
								<p class="card-text">Onion rings are a type of snack where large white onions are sliced to form into rings, dipped in a batter and/or bread crumbs then deep fried, usually accompanied with a dipping sauce like ketchup, barbecue sauce and or mayonnaise.</p>
						  </div>
						  <div class="card-footer" style="background: inherit; border-color: inherit;">
								<a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
								<a href="#" class="btn btn-outline-danger">Add to List</a>
						  </div>
						</div>
					</div>

				  <div class="col-sm">
						<div class="card card-custom bg-white border-white border-0 rcp">
						  <div class="card-custom-img" style="background-image: url(https://static.wixstatic.com/media/65f1ef_aa4c79a018e940c5bbd35bd483c291ff~mv2_d_3600_2400_s_4_2.jpg/v1/fill/w_288,h_287,al_c,q_80,usm_0.66_1.00_0.01/_MG_0607.webp);"></div>
						  <div class="card-body" style="overflow-y: auto">
								<h3 class="card-title">Onion Rings</h3>
								<p class="card-text">Onion rings are a type of snack where large white onions are sliced to form into rings, dipped in a batter and/or bread crumbs then deep fried, usually accompanied with a dipping sauce like ketchup, barbecue sauce and or mayonnaise.</p>
						  </div>
						  <div class="card-footer" style="background: inherit; border-color: inherit;">
								<a href="#" class="btn btn-outline-primary" style="margin-right: 10px;">View</a>
								<a href="#" class="btn btn-outline-danger">Add to List</a>
						  </div>
						</div>
					</div>


				</div>
			</div>

    </div>
    <div class="col-sm-4">
    	<h2 class="text-center">What is Plan & Pantry?</h2>
    	<p class="pText">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
    </div>



  </div>
</div>