<div class="add-recipe-container">
    <h1 style="text-align:center; font-size: 50px; padding:10px; color:dodgerblue; font-family: 'Satisfy', cursive;">Add
        Recipe</h1>

    <hr>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Brand</a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" (click)="basicNavbar.toggle()" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <!-- Left links -->

                <!-- Search form -->
                <form class="d-flex input-group w-auto">
                    <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
                    <button class="btn btn-outline-primary" type="button">
                        Search
                    </button>
                </form>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->


    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="left" style="line-height: 1.8;">
                    <h2>Insert Recipe Name</h2>

                    <div>Total Time(Mins) : <input type="number" id="input_time" name="input_time" min="00:00" required>
                        <p></p>
                        <p style="text-indent: 10px">Prep Time : <input type="number" id="prep_time" name="prep_time"
                                min="00:00" required> </p>
                        <p style="text-indent: 10px">Cook Time : <input type="number" id="cook_time" name="cook_time"
                                min="00:00" required> </p>
                        <p>Servings : <input type="number" id="servings" name="servings" required> people</p>
                    </div>
                    <hr>
                    <div>
                        <h2>Ingredients</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Measurement</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">Ingredients 1</th>
                                    <td><input type="number" id="ingredient01" name="ingredient01" required></td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Measurements</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let measurement of measurements"
                                                    [value]="measurement.value">
                                                    {{measurement.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>Remove</td>
                                </tr>

                                <tr>
                                    <th scope="row">Ingredients 2</th>
                                    <td><input type="number" id="ingredient02" name="ingredient02" required></td>
                                    <td>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Measurements</mat-label>
                                            <mat-select>
                                                <mat-option *ngFor="let measurement of measurements"
                                                    [value]="measurement.value">
                                                    {{measurement.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>Remove</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="col">
                <form action="#" class="instructions"></form>
                <h2>Instructions</h2>
                <textarea name="recipe_instruction" id="recipe_instruction" cols="80" rows="10"></textarea>
                <hr>
                <h2>Upload an image of the food for the recipe</h2>
                <div class="text-center">
                    <input class="form-control" type="file" 
                            (change)="onChange($event)">
                  
                    <button (click)="onUpload()" 
                        class="btn btn-success">
                        Upload
                    </button>
                </div>
                  
                <!-- Shareable short link of  uoloaded file -->
                <div class="container text-center jumbotron"
                    *ngIf="shortLink">
                    <h2> Visit Here</h2>
                    <a href="{{shortLink}}">{{shortLink}}</a>
                </div>
                  
                <!--Flag variable is used here-->
                <div class="container" *ngIf="loading">
                    <h3>Loading ...</h3>
                </div>
            </div>

            <!-- The button below will be used to submit the recipe to the db. -->
            <button class="btn btn-outline-info" type="button" routerLink="../add-recipe">Submit</button>
        </div>
    </div>
</div>