<h1 style="text-align:center; font-size: 50px; padding:10px; color:dodgerblue">Plan & Pantry Logo</h1>
<a href="../sign-in/sign-in.component.html" mat-button style="float: right;"> Login </a>
<a href="../sign-up/sign-up.component.html" mat-button style="float: right;"> SignUp </a>
 
<mat-toolbar color="primary">
<span>Explore Recipes</span>
<a mat-button> All </a>
<a mat-button> Appetisers </a>
<a mat-button> Starters </a>
<a mat-button> Main Courses </a>
<a mat-button> Side Dishes </a>
<a mat-button> Desserts </a>
</mat-toolbar>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  