.ingredient {
	width: 10rem;
	text-align:  center;
}

.col {
  margin-right: 3px;
  margin-left: 3px;
  }

.section_name {
  text-align: center;
}

h2 {
  margin-bottom: -5px;
}

.addBar {
  display: inline-block;
  width: 90%;
}

input {
  width: 50%;
}

button {
  margin-left: -20%;
}