<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="height: 480px;">
    <nav class="navbar">
        <h1 style="margin-left: 45%;">Your List</h1>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-2" style="background-color:rgba(255,184,0,255);">
                <div class="nav flex-column flex-nowrap vh-10 overflow-auto text-white p-2">
                    <h3>Hello, UserName</h3>
                    <hr>
                    <div>My Pantry</div>
                    <div>My Recipes</div>
                    <hr>
                    <div>Brows Recipes</div>
                    <hr>
                    <div>Settings</div>
                </div>
            </div>

            <div style="width: 80%; margin-top: 30px;">
                <h1 style="text-align: center; font-size: 30px;">Favorite Recipes</h1>
                <mat-card style="background-color: dodgerblue;">
                    <mat-card-content style="padding: 20px;">
                        <h3>Favorite Lists</h3>
                        <mat-form-field class="example-full-width">
                            <span matPrefix> </span>
                            <input type="tel" matInput placeholder="Search" name= "search">
                            <button matSuffix mat-button><mat-icon >search</mat-icon></button>
                        </mat-form-field>
                        <ul style="text-decoration: none;">
                            <li><a href="#">Recipe Title</a></li>
                            <li><a href="#">Recipe Title</a></li>
                            <li><a href="#">Recipe Title</a></li>
                            <li><a href="#">Recipe Title</a></li>
                            <li><a href="#">Recipe Title</a></li>
                            <li><a href="#">Recipe Title</a></li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>